@import "tailwindcss";

@theme{

    /*color */
    /*primary*/
    --color-primary-50:#FBF6F5;
    --color-primary-100:#F8EBEB;
    --color-primary-200:#F1DADB;
    --color-primary-300:#E5BCBD;
    --color-primary-400:#D69699;;
    --color-primary-500:#C37076;
   


      /* gray */
      --color-gray-150:#EDEDED;
    --color-gray-250:#DFDFDF;
    --color-gray-450:#81858F;
    --color-gray-550:#A1A1A1;
    --color-gray-750:#7B7B7B;
    --color-dark-primary: #0B0404;/*dark-500*/

    --color-golden:#CCB26A; 
 
    /*font */
    --font-family-primary: prata;
    

    /*screen*/
    --breakpoint-xs:450px;
}





@layer base{
    h1{
          font-size:72px;
        font-weight: 520;
    }
    h2{
        font-size:36px;
        font-weight: 555;
    }
    h3{
        font-size: 24px;
    }

    
    
}
.imgg  a img{
    height: 300px;
    
}
.imggg  a img{
    height: 200px;
    
}

.imgg:hover .hoveer{
   
    display: grid;
}

@utility ttt{
height: 288px;
   background-image: url(./../img/home/gold-ring-with-diamonds1.webp);
   
}
@utility test {
    
    border: 10px solid red  ;
 
}

@utility row {

    @apply flex flex-row items-center ;
}
@utility stack {

    @apply flex flex-col  justify-center;
}
@utility color-icon {

    color:var(color-dark-primary);
}
